.tot{
	margin: 50px 100px 50px 100px;
    box-shadow: 2px 0px 10px 2px black;
}
.myprofile{
	background-color: #565656;
	height: auto;
	padding-bottom: 40px;
}
.mpBox{
	background-color: #eeeeee;
	padding: 20px; 
}
.propic{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 6px dotted #f9bd29;
	vertical-align:bottom;
	margin-left: 40%;
	margin-top: 3%;
}
.mpName{
	position: absolute;
	background-color: #f9bd29;
	padding: 20px 30px;
	font-size: 48px;
	font-weight: bolder; 
	margin-left: 22%;
	margin-top: -4%;
	border-radius: 10px;
}
.smline{
    height: 30px;
    border-right: 2px solid #000900;
    margin: 6px;
}
.first{
    float: left;
    width: 50%;
    height: 1000px;
    box-shadow: 2px 15px 15px 2px black;
}
.mid{
    padding: 20px;
    height: 800px;
    margin-top: 50px;
    border-right: 2px solid #d2d2d2;
    position: absolute;
    right: 50%;
}
.last{
    float:right;
    width: 50%;
    height: 1000px;
    box-shadow: 2px 15px 15px 2px black;
}
.profile_block{
    margin: 20px;
    padding: 10px;
}
.head_i{
    color:#f9bd29;
    border: 4px dotted #f9bd29;
    border-spacing: 3px;
    border-left: 9px;
    background-color: #404144;
    padding: 10px;

    border-radius: 50%;
}
.head_S{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #404144
}

.myinput {
  background: linear-gradient(to right, #f9bd29 0%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 6px;
  width: 150px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.para{
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica,sans-serif;
}